body {
    margin: 0;
    padding: 0;
}

.heading, 
.game_heading {
    text-align: center;
    margin: 30px 30px;
}

.game_elements {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;

}

.rock,
.paper,
.sccisors {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin:5px;
}

.img_rock,
.img_paper,
.img_sccisors {
    width: 200px;
    height: 200px;
}

.result_display,
.winner_text,
.another_game {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.another_game {
    display: none;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button:hover {
    background-color: #555555;
    color: white;
  }

.human_score_div {


}

.human_score {


}

.computer_score_div {


}

.computer_score {


}
